<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ice Sickle</title>
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/mini-default.min.css">
  </head>
  <body>

    <header style='background-color:#136CBA;padding:10px;color:#FFF;'>
        <h1>Ice Sickle</h1>
        <h2>0.0.1 beta</h2>
    </header>

    <div id='content'>
        aaa
        <a onclick='window.close()'>Close</a>
    </div>

  </body>
</html>
