<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Import Manager</title>

    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/mini-default.min.css">

    <script>
        var {ipcRenderer} = require('electron'),
            importList,
            addImportRow = function(importItem) {
                var tr = document.createElement('tr');
                tr.innerHTML = `
                    <td>${importItem.name}</td>
                    <td>${importItem.type}</td>
                    <td>${importItem.size}</td>
                    <td>${importItem.path}</td>
                `;

                importList.appendChild(tr);
            };
    </script>
    <script>
        window.addEventListener('load', function() {
            importList = document.getElementById('importList');

            // List all of our imports here
            ipcRenderer.send('request-import-list');
            ipcRenderer.on('response-import-list', (event, imports) => {
                // Create a row in the table for each import
                imports.forEach((importItem) => {
                    addImportRow(importItem);
                });
            });

            // Add drag-and-drop handler
            document.ondragover = (e) => {
                e.dataTransfer.dropEffect = 'copy';
                return false;
            }

            document.ondragleave = document.ondragend = () => {
                return false;
            }

            document.ondrop = (e) => {
                e.preventDefault()

                for (let f of e.dataTransfer.files) {
                  ipcRenderer.send('import-file', {
                      name: f.name,
                      path: f.path,
                      size: f.size,
                      type: f.type
                  });

                  // Add a row in the table
                  addImportRow({
                      name: f.name,
                      path: f.path,
                      size: f.size,
                      type: f.type
                  });
                }
                return false;
            }
        })
    </script>
  </head>
  <body>
    <table class='preset'>
        <style inline>
            table {width: 100%;}
            th, tr, td {padding: 3px !important;}
        </style>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Size (bytes)</th>
                <th>Path</th>
            </tr>
        </thead>
        <tbody id='importList'>
            <!-- Rows are generated here when the window is loaded -->
            <!-- Rows are also added when the user drops files on the window -->
        </tbody>
    </div>
  </body>
</html>
