<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/mini-default.min.css">

    <script>
        var Map = require('../classes/Map.js');
    </script>
    <script>
        // Listen for events sent from window process
        const {ipcRenderer} = require('electron');

        ipcRenderer.on('create-new-project', (event, data) => {
            Map.Create(data.name);
            console.log(Map);
        });

        ipcRenderer.on('open-project', (event, dir) => {
            ipcRenderer.send('request-open-project-map', dir);
        });

        ipcRenderer.on('save-project', () => {
            // Sends a request to the application to save the project
            ipcRenderer.send('request-save-project');
        });

        ipcRenderer.on('compile-project', () => {
            Map.Compile();
        });
    </script>
  </head>
  <body class='container'>
    <div class="row">
        <div class="col-sm-2" style='border-right:1px SOLID #000;'>
          <h1 id='map-name'></h1>
          <img class="ui medium rounded image" src="http://placehold.it/350x350">
        </div>
        <div class="col-sm-10">
          aaa
        </div>
    </div>
  </body>
</html>
