<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>

    <script>
        var map,
            Map = require('../scripts/Map.js');
    </script>
    <script>
        // Listen for events sent from window process
        const {ipcRenderer} = require('electron');

        ipcRenderer.on('create-new-project', (event, data) => {
            Map.Create(data.name);
            console.log(Map);

            //Map.Load(newProjectPath);
            //console.log("loaded project");
        });

        ipcRenderer.on('open-project', (event, dir) => {
            Map.Load(dir);

            // document.getElementById('map-name').innerText = map.project.name;
            // document.getElementById('map-version').innerText = map.project.version;
            // document.getElementById('map-author').innerText = map.project.authors[0].username;
            // document.getElementById('map-description').innerText = map.project.description;
            //
            // document.getElementById('units').value = JSON.stringify(map.units).toString();
        });

        ipcRenderer.on('save-project', () => {
            Map.Save();
        });

        ipcRenderer.on('compile-project', () => {
            Map.Compile();
        });
    </script>
  </head>
  <body>
    <div class="ui two column stackable grid">
      <div class="three wide column">
        <div class="ui segment">
            <img class="ui medium rounded image" src="http://placehold.it/350x350">
            <br/>
            <p id="map-name"></p>
            <p id="map-version"></p>
            <p id="map-author"></p>
            <p id="map-description"></p>
        </div>
      </div>
      <div class="thirteen wide column">
        <div class="ui segment">
            <textarea id="units"></textarea>
        </div>
      </div>
    </div>

  </body>
</html>
