<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Map Properties</title>

    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/mini-default.min.css">

    <style>
      input,select,textarea {padding: 2px !important;margin-bottom:1em !important;}
      .full-width {
        width:100%;
      }
    </style>

    <script>
        var {ipcRenderer} = require('electron');

        function submitUserDataForm() {
            // Determines what type of loading screen the user has chosen
            var isDefaultLoadingScreen = document.getElementById('defaultScreen').checked,
                isCampaignLoadingScreen = document.getElementById('campaignScreen').checked,
                isImportedLoadingScreen = document.getElementById('importedScreen').checked;

            var updatedInfo = {
                map: {
                    name: document.getElementById('mapName').value,
                    author: document.getElementById('mapAuthor').value,
                    description: document.getElementById('mapDescription').value,
                    recommendedPlayers: document.getElementById('mapSuggestedPlayers').value,
                    flags: {
                        hideMinimapInPreview: document.getElementById('check1').checked,
                        //modifyAllyPriorities: ,
                        //isMeleeMap: false,
                        maskedPartiallyVisible: document.getElementById('check2').checked,
                        fixedPlayerSetting: false,
                        useCustomForces: false,
                        useCustomTechtree: false,
                        useCustomAbilities: false,
                        useCustomUpgrades: false,
                        waterWavesOnCliffShores: document.getElementById('check3').checked,
                        waterWavesOnRollingShores: document.getElementById('check4').checked
                    }
                },
                loadingScreen: {
                    background: 0, // Index of campaign screen image, or -1
                    path: '', // Custom path of loading screen, or empty

                    // Text, title, and subtitle are only allowed for loading screens other than default
                    text: (!isDefaultLoadingScreen) ? document.getElementById('loadingScreenText').value : '',
                    title: (!isDefaultLoadingScreen) ? document.getElementById('loadingScreenTitle').value : '',
                    subtitle: (!isDefaultLoadingScreen) ? document.getElementById('loadingScreenSubtitle').value : ''
                },
                fog: {
                    type: document.getElementById('fogStyle').value,
                    startHeight: document.getElementById('fogZStart').value,
                    endHeight: document.getElementById('fogZEnd').value,
                    density: document.getElementById('fogDensity').value,
                    color: document.getElementById('fogColor').value // TODO: triplet array RGB
                },
                globalWeather: document.getElementById('globalWeather').value,
                customSoundEnvironment: document.getElementById('soundEnv').value,
                customLightEnv: document.getElementById('lightEnv').value,
                water: document.getElementById('waterTintingColor').value // TODO: triplet array RGB
            };

            ipcRenderer.send('update-map-info', updatedInfo);

            window.close();
        }
    </script>
    <script>
        window.addEventListener('load', function() {
            var loadingScreenElem = document.getElementById('loadingScreen'),
                loadingScreenDisplayTypeRadios = document.querySelectorAll('input[name=radio-group-1]'),

                defaultScreenRadioInput = document.getElementById('defaultScreen'),
                campaignScreenRadioInput = document.getElementById('campaignScreen'),
                importedScreenRadioInput = document.getElementById('importedScreen'),

                campaignScreenDiv = document.getElementById('campaignScreenDiv'),
                importedScreenDiv = document.getElementById('importedScreenDiv');

            // Hide or show the loading screen fields depending on if default is chosen
            for(var i = 0; i < loadingScreenDisplayTypeRadios.length; i++) {

                loadingScreenDisplayTypeRadios[i].addEventListener('change', function(e) {
                    loadingScreenElem.style.display = (defaultScreenRadioInput.checked) ? 'none' : 'block';
                    campaignScreenDiv.style.display = (campaignScreenRadioInput.checked) ? 'block' : 'none';
                    importedScreenDiv.style.display = (importedScreenRadioInput.checked) ? 'block' : 'none';
                })
            }

        });
    </script>
  </head>
  <body>
    <div class="tabs">
        <!-- General -->
        <input type="radio" name="tab-group" id="tab1" checked aria-hidden="true">
        <label for="tab1" aria-hidden="true">General</label>
        <div>
          <form>
              <label>
                  Display Name
                  <input class='full-width' id='mapName' type='text' value='{{map.name}}' focus/>
              </label>

              <label>
                  Description
                  <textarea class='full-width' id='mapDescription'>{{map.description}}</textarea>
              </label>

              <label>
                  Suggested Players
                  <input class='full-width' id='mapSuggestedPlayers' type='text' value='{{map.recommendedPlayers}}'/>
              </label>

              <label>
                  Author name
                  <input class='full-width' id='mapAuthor' type='text' value='{{map.author}}'/>
              </label>
          </form>
        </div>

        <!-- Options -->
        <input type="radio" name="tab-group" id="tab2" aria-hidden="true">
        <label for="tab2" aria-hidden="true">Options</label>
        <div>
          <div class="input-group">
            <input type="checkbox" id="check1" tabindex="0">
            <label for="check1">Hide minimap in preview screens</label>
          </div>

          <div class="input-group">
            <input type="checkbox" id="check2" tabindex="0">
            <label for="check2">Masked areas are partially visible</label>
          </div>

          <div class="input-group">
            <input type="checkbox" id="check3" tabindex="0">
            <label for="check3">Show water waves on cliff shores</label>
          </div>

          <div class="input-group">
            <input type="checkbox" id="check4" tabindex="0">
            <label for="check4">Show water waves on rolling shores</label>
          </div>

          <!-- <div class="input-group">
            <input type="checkbox" id="check5" tabindex="0">
            <label for="check5">Use item classification system</label>
          </div> -->

          <fieldset>
            <legend>Fog</legend>

            <label>
              Style
              <select id='fogStyle'>
                <option value='0'>None</option>
                <option value='1'>Linear</option>
                <option value='2'>Exponential 1</option>
                <option value='3'>Exponential 2</option>
              </select>
            </label>

            <label>
              Z Start
              <input id='fogZStart' type='number' value='3000.00'/>
            </label>

            <label>
              Z End
              <input id='fogZEnd' type='number' value='5000.00'/>
            </label>

            <label>
              Density (%)
              <input id='fogDensity' type='number' value='5' min='0' max='100'/>
            </label>

            <label>
              Color
              <input id='fogColor' type='color' value='#000000'/>
            </label>
          </fieldset>

          <label>
            Global weather
            <select id='globalWeather' class='full-width'>
                <!-- Char[4]: Iterate through enum/WeatherType.js -->
                <option value='0000'>None</option>
            </select>
          </label>

          <label>
            Custom sound environment
            <select id='soundEnv' class='full-width'>
                <!-- String: Sound label from enum/SoundEnvironment -->
                <option value=''>None</option>
                <option value='mountains'>Mountains</option>
                <option value='lake'>Lake</option>
                <option value='psychotic'>Psychotic</option>
                <option value='dungeon'>Dungeon</option>
            </select>
          </label>

          <label>
            Custom light environment
            <select id='lightEnv' class='full-width'>
                <!-- Char: Tileset ID of light env. -->
                <option value=''>None</option>
            </select>
          </label>

          <label>
            Water tinting color
            <input id='waterTintingColor' type='color' value='#000000'/>
          </label>

          <!-- <label>
            Sky display
            <select id='skyDisplay' class='full-width'>
              <option>Generic Sky</option>
            </select>
          </label>

          <label>
            Time of day
            <select id='timeOfDay' class='full-width'>
              <option>Not Fixed</option>
            </select>
          </label> -->
        </div>

        <!-- Size and Camera Bounds -->
        <input type="radio" name="tab-group" id="tab3" aria-hidden="true">
        <label for="tab3" aria-hidden="true">Size &amp; Camera Bounds</label>
        <div>
          (TODO)
        </div>

        <!-- Loading Screen -->
        <input type="radio" name="tab-group" id="tab4" aria-hidden="true">
        <label for="tab4" aria-hidden="true">Loading Screen</label>
        <div>
            <div class="input-group">
              <input type="radio" id="defaultScreen" tabindex="0" name="radio-group-1" checked>
              <label for="defaultScreen">Use default screen</label>
            </div><br/>
            <div class="input-group">
              <input type="radio" id="campaignScreen" tabindex="0" name="radio-group-1">
              <label for="campaignScreen">Use campaign screen</label>
            </div><br/>
            <div class="input-group">
              <input type="radio" id="importedScreen" tabindex="0" name="radio-group-1">
              <label for="importedScreen">Use imported file</label>
            </div><br/><br/>

            <div id='loadingScreen' style='display:none;'>
                <div id='campaignScreenDiv' style='display:none;'>
                    <label>
                        Loading screen
                        <select id='campaignScreenDropdown'>
                            <option value='1'>Tutorial 01</option>
                            <!-- TODO: more elements in this list, and check if index starts at 0 or 1! -->
                        </select>
                    </label>
                </div>

                <div id='importedScreenDiv' style='display:none;'>
                    <label>
                        Loading screen
                        <select id='importedScreenPath'>
                            <!-- TODO: populate with valid imported files -->
                        </select>
                    </label>
                </div>

                <label>
                  Title
                  <input id='loadingScreenTitle' class='full-width' type='text' />
                </label>

                <label>
                  Subtitle
                  <input id='loadingScreenSubtitle' class='full-width' type='text' />
                </label>

                <label>
                  Text
                  <textarea id='loadingScreenText' class='full-width'></textarea>
                </label>
            </div>
        </div>
    </div>
    <div class='buttons-right' style='float:right;'>
        <a class='button' onclick='window.close()'>Cancel</a>
        <a class='button primary' onclick='submitUserDataForm()'>OK</a>
    </div>
  </body>
</html>
