<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Project</title>

    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/mini-default.min.css">
    <style>
        input {width: 100%;}
    </style>

    <script>
        var {ipcRenderer} = require('electron'),
            Path = require('path');

        function createNewMap() {
            var projectName = document.getElementById('name').value

            ipcRenderer.send('createNewProject', {
                name: projectName
                // author: document.getElementById('author').value,
                // description: document.getElementById('description').value
            });

            window.close();
        }
    </script>
  </head>
  <body>
    <form onsubmit='return false;'>
        <div class="input-group fluid">
          <label>
              Name
              <input type="text" value="" id="name" placeholder="Lordaerons Demise">
          </label>
        </div>

        <div class="input-group">
          <label>
              Width
              <select>
                  <option>64</option>
                  <option>64</option>
                  <option>64</option>
                  <option>64</option>
              </select>
          </label>
          <label>
              Height
              <select>
                  <option>64</option>
                  <option>64</option>
                  <option>64</option>
                  <option>64</option>
              </select>
          </label>
        </div>

        <div class="input-group fluid">

        </div>

        <div class="input-group fluid">
          <label>
              Tileset
              <select>
                  <option>Ashenvale</option>
                  <option>Barrens</option>
                  <option>Black Citadel</option>
                  <option>Cityscape</option>
                  <option>Dalaran</option>
                  <option>Dalaran Ruins</option>
                  <option>Dungeon</option>
                  <option>Felwood</option>
                  <option>Icecrown Glacier</option>
                  <option>Lordaeron Fall</option>
                  <option>Lordaeron Summer</option>
                  <option>Lordaeron Winter</option>
                  <option>Northrend</option>
                  <option>Outland</option>
                  <option>Sunken Ruins</option>
                  <option>Underground</option>
                  <option>Village</option>
                  <option>Village Fall</option>
              </select>
          </label>
        </div>

        <fieldset>
            <legend>Starting tile</legend>
            <div class="input-group">
              <input type="radio" id="rad1" name="tile">
              <label for="rad1">Radio</label>
            </div>

            <div class="input-group">
              <input type="radio" id="rad2" name="tile">
              <label for="rad2">Radio</label>
            </div>

            <div class="input-group">
              <input type="radio" id="rad3" name="tile">
              <label for="rad3">Radio</label>
            </div>

            <div class="input-group">
              <input type="radio" id="rad4" name="tile">
              <label for="rad4">Radio</label>
            </div>

            <div class="input-group">
              <input type="radio" id="rad5" name="tile">
              <label for="rad5">Radio</label>
            </div>

            <div class="input-group">
              <input type="radio" id="rad6" name="tile">
              <label for="rad6">Radio</label>
            </div>
        </fieldset>

        <div class="input-group fluid">
          <label>
              Initial cliff height
              <input type='number' min='0' max='14' value='2' />
          </label>
        </div>

        <fieldset>
            <legend>Initial water</legend>
            <div class="input-group">
              <input type="radio" id="water0" name="tile" selected>
              <label for="water0">None</label>
            </div>

            <div class="input-group">
              <input type="radio" id="water1" name="tile">
              <label for="water1">Shallow</label>
            </div>

            <div class="input-group">
              <input type="radio" id="water2" name="tile">
              <label for="water2">Deep</label>
            </div>
        </fieldset>

        <div style='float:right;'>
            <button onclick='window.close()'>Cancel</button>
            <button onclick='createNewMap()' class="primary">Submit</button>
        </div>

        <div style='clear:both;'></div>
    </form>

  </body>
</html>
