<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Trigger</title>

    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/mini-default.min.css">
    <link rel="stylesheet" href="../assets/css/user-input-page.css">

    <script>
        var {ipcRenderer} = require('electron');

        function onLanguageSelected(ele) {
            var languageExt = ele.value,
                languageIcon = ele.getAttribute('data-icon');

            document.getElementById('languageIcon').src = languageIcon;
        }

        ipcRenderer.send('request-scripting-languages');
        ipcRenderer.on('response-scripting-languages', (_, languages) => {
            Object.keys(languages).forEach((languageExt) => {

                var language = languages[languageExt],
                    triggerTypeSelect = document.getElementById('triggerLanguage'),
                    triggerOption = document.createElement('option');

                triggerOption.innerText = language.name + ' (' + language.ext + ')';
                triggerOption.value = language.ext;
                triggerOption.setAttribute('data-icon', language.icon);
                triggerOption.addEventListener('selected', onLanguageSelected);

                triggerTypeSelect.appendChild(triggerOption);
            });
        });

        window.addEventListener('load', () => {
            // When the page is ready, select the first element of the language dropdown
            var triggerTypeSelect = document.getElementById('triggerLanguage');

            triggerTypeSelect.children[0].setAttribute('selected', 'selected');
            onLanguageSelected(triggerTypeSelect.children[0]);
        });

        function submitForm() {
            var name = document.getElementById('triggerName').value,
                language = document.getElementById('triggerLanguage').value;

            ipcRenderer.send('new-trigger', {
              name: name,
              language: language
            });

            window.close();
        }
    </script>
  </head>
  <body>
    <form>
        <fieldset>
            <label>
                Name
                <input id='triggerName' type='text' value='' focus/>
            </label>

            <label>
                Language
                <img id='languageIcon' width='16' height='16' />

                <select id='triggerLanguage'>
                </select>
            </label>

            <div class='buttons-right'>
                <a class='button' onclick='window.close()'>Cancel</a>
                <a class='button primary' onclick='submitForm()'>OK</a>
            </div>
        </fieldset>
    </form>
  </body>
</html>
