<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Object</title>

    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/mini-default.min.css">
    <link rel="stylesheet" href="../assets/css/user-input-page.css">

    <script>
        var {ipcRenderer} = require('electron');

        function submitUserDataForm() {
            var objType = '{{type}}', // unit, doodad, etc.
                name = document.getElementById('customObjName').value,
                base = document.getElementById('customObjBase').value;

            ipcRenderer.send('requestIdCounter', { type: objType });
            ipcRenderer.on('responseIdCounter', function(_, customId) {
                ipcRenderer.send('newObject', {
                    type: objType,
                    name: name,
                    base: base,
                    id: customId + ':' + base // e.g. h001:hfoo
                });

                window.close();
            });
        }
    </script>
  </head>
  <body>
    <form>
        <fieldset>
            <legend>New Object ({{type}})</legend>

            <label>
                Name:
                <input id='customObjName' type='text' value='' focus/>
            </label>

            <label>
                Base Object:
                <input id='customObjBase' type='text' value='hfoo'/>
            </label>

            <div class='buttons-right'>
                <a class='button' onclick='window.close()'>Cancel</a>
                <a class='button primary' onclick='submitUserDataForm()'>OK</a>
            </div>
        </fieldset>
    </form>
  </body>
</html>
