<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/mini-default.min.css">

    <style>
        select {
            padding: 0px;
            height: 100%;
            float: left;
        }
        select:first-child {width:15%;}
        select:last-child {width:83%;}
        select option { font-family: monospace; }

        select option[data-modified] {
            color: #dd00dd;
        }
    </style>

    <script>
        var Map;

        const {ipcRenderer} = require('electron');
        ipcRenderer.send('request-project', {});
        ipcRenderer.on('response-project', function(a, map) {
            Map = map;
            // ipcRenderer.send('patch-project', {field: 'units', data: ['new unit']})
        })

        //var Map = require('../classes/Map.js');
        var ObjectEditor = require('../classes/ObjectEditor.js');
        var ListView = require('../classes/Listview.js');


        var userInputListener = false;
        function requestUserInput(type, context, entryId, cb) {
            context.entryId = entryId;

            ipcRenderer.send('request-user-input', {
                type: type,
                context: context
            })

            if(!userInputListener) {
                ipcRenderer.on('user-input-provided', function(_, data) {
                    cb(data);
                })
                userInputListener = true;
            }
        }

        function OpenNewUnitDialog() {
            ipcRenderer.send('request-open-window', {
                window: 'newUnit'
            });
        }

        // window.alert('Loaded ' + Object.keys(ObjectEditor.Data.Units).length + ' units');
        // window.alert(JSON.stringify(ObjectEditor.Data.Units['hfoo']));
    </script>
    <script data-script-name="Units">
        window.addEventListener('load', function() {
            var unitEditor = document.getElementById('unit-editor'),
                unitList = document.getElementById('unit-list'),
                unitFieldList = document.getElementById('unit-field-list'),

                unitListView,
                unitFieldListView,

                unitFields = ObjectEditor.Fields.Units,
                unitFieldElems = {}; // Stores all HTMLElements for <option> in unit edit list (key = unitID)

            /*
                Events
            */
            function onUnitSelected(e) {
                // The <option> value stores the unit ID to load
                console.log('select unit', e.target.getAttribute('data-id'));
                selectUnitIntoEditor(e.target.getAttribute('data-id'));
            }

            /*
                Functions
            */
            function populateUnitsList() {
                // Fill the units list
                var unitData = [];

                // List original units
                Object.keys(ObjectEditor.Data.Units).forEach((unitId) => {
                    var listViewItem = {
                        label: '(' + unitId + ') ' + ObjectEditor.Data.Units[unitId].name,
                        value: '',
                        data: {
                            id: unitId
                        }
                    }

                    if(Map.objects.units.original[unitId]) {
                        // modifications exist for this base unit
                        // set data-modified on element (colored pink via CSS)
                        listViewItem.data.modified = true;
                    }

                    unitData.push(listViewItem);
                });

                // List custom units
                Object.keys(Map.objects.units.custom).forEach((customUnitId) => {
                    // customUnitId is of the form <newId>:<baseId> (e.g. h000:hfoo)
                    var unitIds = customUnitId.split(':'),
                        listViewItem = {
                            label: '(' + customUnitId + ') ',
                            value: '',
                            data: {
                                id: customUnitId,
                                baseId: unitIds[1],
                                newId: unitIds[0],
                                modified: true // modifications always exist for a custom unit
                            }
                        };

                    unitData.push(listViewItem);
                });

                // Append element
                unitListView = new ListView(unitData, {
                    onDblClick: onUnitSelected
                });

                unitEditor.appendChild(unitListView.HTMLElement);
            }
            function populateUnitFieldsList() {
                // Fill the units editing list with the Fields
                var unitFieldData = [];

                Object.keys(ObjectEditor.Fields.Units).forEach((fieldKey) => {
                    var field = ObjectEditor.Fields.Units[fieldKey],
                        label = (field.editorName && field.editorName != '.') ?
                            field.category[0].toUpperCase() + field.category.substr(1) + ' - ' + (field.editorName) :
                            field.ID;

                    unitFieldData.push({
                        id: field.ID,
                        label: label, //field.ID,
                        value: field.minVal,
                        data: {
                            id: field.ID,
                            min: field.minVal,
                            max: field.maxVal
                        }
                    });
                });

                var events = {
                    onDblClick: function(e, item) {
                        var fieldType = e.target.getAttribute('data-type'),
                            fieldId = e.target.getAttribute('data-fieldId'),
                            isCustom = (e.target.getAttribute('data-iscustom') === 'true'),
                            defaultValue = e.target.getAttribute('data-default'),
                            entryId = e.target.getAttribute('data-id');

                        requestUserInput(
                            fieldType,
                            {
                                type: fieldType,
                                id: fieldId,
                                tooltip: ObjectEditor.Fields.Units[fieldId].editorHelp,
                                currentValue: item.value
                            },
                            entryId,
                            function(data) {
                                // Change the value in the ListView
                                unitFieldListView.UpdateItem(data.id, data.value);
                                unitFieldListView.Refresh();

                                // Modify the original or custom unit field
                                var isCustomUnit = data.entryId.indexOf(':') >= 0;
                                ipcRenderer.send('patch-project-object', {
                                    specType: 'units',
                                    table: isCustomUnit ? 'custom' : 'original',
                                    entryId: data.entryId,
                                    modification: {
                                        id: data.id,
                                        type: data.type,
                                        value: data.value
                                    }
                                });
                            }
                        );
                    }
                };

                // Append element
                unitFieldListView = new ListView(unitFieldData, events);

                unitEditor.appendChild(unitFieldListView.HTMLElement);
            }

            function selectUnitIntoEditor(unitId) {
                var isCustomUnit = unitId.indexOf(':') !== -1,
                    baseUnitId = (isCustomUnit) ?
                        unitId.split(':')[1] : unitId,
                    baseUnit = ObjectEditor.Data.Units[baseUnitId],
                    baseUnitFields = [];

                // Re-generate the list view items
                Object.keys(unitFields).forEach((fieldKey) => {
                    var field = ObjectEditor.Fields.Units[fieldKey],
                        value = baseUnit[ObjectEditor.Find.UnitFieldLongNameById(fieldKey)],
                        isAttrModified = false,
                        label = (field.editorName && field.editorName != '.') ?
                            field.category[0].toUpperCase() + field.category.substr(1) + ' - ' + (field.editorName) :
                            field.ID,
                        listViewItem = {
                            id: fieldKey,
                            label: label,
                            data: {
                                id: unitId,
                                fieldId: fieldKey,
                                isCustom: isCustomUnit,
                                default: value || '',
                                type: ObjectEditor.Fields.Units[fieldKey].type
                            }
                        };

                    var objectTable = (isCustomUnit) ?
                        Map.objects.units.custom :
                        Map.objects.units.original;

                    if(objectTable[unitId]) {
                        // We have changes, so find if a change is made
                        // to the current attribute
                        var modifiedField = objectTable[unitId].find((mod) => {
                            return mod.id === fieldKey;
                        });

                        if(modifiedField) {
                            isAttrModified = true;
                            value = modifiedField.value;
                        }
                    }

                    if(isAttrModified) listViewItem.data.modified = true;
                    listViewItem.value = value;
                    baseUnitFields.push(listViewItem);
                });

                unitFieldListView.Clear();
                unitFieldListView.Add(baseUnitFields);
            }

            // Init
            populateUnitsList();
            populateUnitFieldsList();
        });
    </script>
  </head>
  <body>
    <div class="tabs">

      <input type="radio" name="tab-group" id="tab1" checked aria-hidden="true">
      <label for="tab1" aria-hidden="true">Units</label>
      <div id='unit-editor' class='object-edit-view'>
          <div>
              <a class='button small' onclick='OpenNewUnitDialog()'>New Unit</a>
          </div>
          <div class='obj objLeft'></div>
          <div class='obj objRight'></div>
      </div>

      <input type="radio" name="tab-group" id="tab2" aria-hidden="true">
      <label for="tab2" aria-hidden="true">Items</label>
      <div></div>

      <input type="radio" name="tab-group" id="tab3" aria-hidden="true">
      <label for="tab3" aria-hidden="true">Destructables</label>
      <div></div>

      <input type="radio" name="tab-group" id="tab4" aria-hidden="true">
      <label for="tab4" aria-hidden="true">Doodads</label>
      <div></div>

      <input type="radio" name="tab-group" id="tab5" aria-hidden="true">
      <label for="tab5" aria-hidden="true">Abilities</label>
      <div></div>

      <input type="radio" name="tab-group" id="tab6" aria-hidden="true">
      <label for="tab6" aria-hidden="true">Buffs/Effects</label>
      <div></div>

      <input type="radio" name="tab-group" id="tab7" aria-hidden="true">
      <label for="tab7" aria-hidden="true">Upgrades</label>
      <div></div>

    </div>
  </body>
</html>
