<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
    <link rel="stylesheet" href="../assets/css/two-col-sel.css">

    <style>
        .object-edit-view > select {
            padding: 0px;
            height: 100%;
            float: left;
        }
        .object-edit-view > select:first-child {width:15%;}
        .object-edit-view > select:last-child {width:83%;}
    </style>

    <script src='../assets/js/two-col-sel.js'></script>
    <script>
        var Map = require('../classes/Map.js');
        var ObjectEditor = require('../classes/ObjectEditor.js');

        // window.alert('Loaded ' + Object.keys(ObjectEditor.Data.Units).length + ' units');
        // window.alert(JSON.stringify(ObjectEditor.Data.Units['hfoo']));
    </script>
    <script data-script-name="Units">
        window.addEventListener('load', function() {
            var unitList = document.getElementById('unit-list'),
                unitEditList = document.getElementById('unit-edit-list'),

                unitFields = ObjectEditor.Fields.Units,
                unitFieldElems = {}; // Stores all HTMLElements for <option> in unit edit list (key = unitID)

            /*
                Events
            */
            function onUnitSelected(e) {
                // The <option> value stores the unit ID to load
                console.log('select unit', e.target.value)
                selectBaseUnitIntoEditor(e.target.value);

                // TODO: applyUnitModificationsToEditor
                // modifications can be on a base unit or custom unit, caution!
            }

            /*
                Functions
            */
            function populateUnitsList() {
                // Fill the units list
                Object.keys(ObjectEditor.Data.Units).forEach((unitId) => {
                    var newOption = document.createElement('option');
                    newOption.value = unitId;
                    newOption.innerText = '(' + unitId + ') ' + ObjectEditor.Data.Units[unitId].name;
                    newOption.addEventListener('dblclick', onUnitSelected);

                    unitList.appendChild(newOption);
                });

                // TODO: custom units listed, too
            }

            function populateUnitFieldsList() {
                // Fill the units editing list with the Fields
                Object.keys(ObjectEditor.Fields.Units).forEach((fieldKey) => {
                    var newOption = document.createElement('option'),
                        field = ObjectEditor.Fields.Units[fieldKey];

                    newOption.value = fieldKey;
                    newOption.innerText = field.ID + ' | ' + field.minVal;

                    newOption.setAttribute('data-id', field.ID);
                    newOption.setAttribute('data-min', field.minVal);
                    newOption.setAttribute('data-max', field.maxVal);

                    unitFieldElems[fieldKey] = newOption; // Keep track in unit field obj
                    unitEditList.appendChild(newOption);
                });
            }

            function selectBaseUnitIntoEditor(unitId) {
                var objEditorUnit = ObjectEditor.Data.Units[unitId];

                // TODO: do not assume that a base unit is un-modified
                // -> the user may have modified a base unit!

                // Reset unit-edit list
                Object.keys(unitFieldElems).forEach((fieldKey) => {
                    var fieldElem = unitFieldElems[fieldKey];

                    fieldElem.removeAttribute('data-modified');
                    fieldElem.innerText =
                        fieldElem.getAttribute('data-id') + ' | ' + '';
                });

                // Set object attributes
                Object.keys(objEditorUnit).forEach((unitDataKey) => {
                    var fieldId = ObjectEditor.Find.UnitFieldIdByLongName(unitDataKey),
                        fieldElem = unitFieldElems[fieldId];

                    // Set the <option> elem
                    if(fieldElem) {
                        fieldElem.innerText =
                            fieldElem.getAttribute('data-id') + ' | ' + objEditorUnit[unitDataKey];
                    }
                });

                refreshUnitEditList();
            }

            function applyUnitModificationsToEditor(unitId, unitChanges) {
                // From the Map.units array, we select a unit to load
                // and the changes are shown in the editor
                // TODO: isCustomUnit? apply modifications

                unitChanges.forEach((change) => { // See WC3Translator spec
                    // { "id": "umvs", "value": 500 }
                    var optionElem = unitFieldElems[change.id],
                        isValueModified = true; // TODO: Is the value not the default field value?

                    optionElem.innerText =
                        optionElem.getAttribute('ID') + ' | ' +
                        objEditorUnit[unitAttr];

                    if(isValueModified) {
                        optionElem.setAttribute('data-modified', 'true');
                    }
                })
            }

            function refreshUnitEditList() {
                // Re-style the unit edit list
                spaceSelect(unitEditList, 60);
            }


            // Init
            populateUnitsList();
            populateUnitFieldsList();

            // Create the unit-edit-list as a two-column select
            refreshUnitEditList();
        });
    </script>
  </head>
  <body>
    <div class="tabs">
      <input type="radio" name="tab-group" id="tab1" checked aria-hidden="true">
      <label for="tab1" aria-hidden="true">Units</label>
      <div class='object-edit-view'>
          <select id='unit-list' multiple>

          </select>
          <select id='unit-edit-list' multiple>

            <!-- <optgroup label="Combat">
                <option>Value 1|b1</option>
                <option>Value 2|b2</option>
                <option>Value 3|b3</option>
            </optgroup>
            <optgroup label="Movement">
                <option data-modified>Value 4|b4</option>
                <option>Value 5|b5</option>
                <option>Value 6|b6</option>
                <option>Value 7|B7</option>
            </optgroup>
            <optgroup label="Other">
                <option>Value 8|b8</option>
                <option>Value Infinity|b</option>
            </optgroup> -->
          </select>
      </div>

      <input type="radio" name="tab-group" id="tab2" aria-hidden="true">
      <label for="tab2" aria-hidden="true">Items</label>
      <div></div>

      <input type="radio" name="tab-group" id="tab3" aria-hidden="true">
      <label for="tab3" aria-hidden="true">Destructables</label>
      <div></div>

      <input type="radio" name="tab-group" id="tab4" aria-hidden="true">
      <label for="tab4" aria-hidden="true">Doodads</label>
      <div></div>

      <input type="radio" name="tab-group" id="tab5" aria-hidden="true">
      <label for="tab5" aria-hidden="true">Abilities</label>
      <div></div>

      <input type="radio" name="tab-group" id="tab6" aria-hidden="true">
      <label for="tab6" aria-hidden="true">Buffs/Effects</label>
      <div></div>

      <input type="radio" name="tab-group" id="tab7" aria-hidden="true">
      <label for="tab7" aria-hidden="true">Upgrades</label>
      <div></div>

    </div>
  </body>
</html>
