<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ice Sickle - {{type}}</title>

    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/mini-default.min.css">
    <link rel="stylesheet" href="../../assets/css/user-input-page.css">

    <script>
        function submitUserDataForm() {
            var {ipcRenderer} = require('electron');

            ipcRenderer.send('responseUserInput', {
                id: '{{id}}',
                entryId: '{{entryId}}',
                type: document.getElementById('fieldType').value,
                inputType: 'singleChoice',
                value: document.getElementById('choice').selectedOptions[0].value
            });

            window.close();
        }
    </script>
  </head>
  <body>
    <form>
        <fieldset>
            <legend>Edit Value{{#if fieldName}} - {{fieldName}}{{/if}}</legend>

            <input type='hidden' id='fieldType' value='{{type}}' />

            <label>
                Value:
                <select id='choice'>
                {{#each choices}}
                    <option value='{{value}}' {{#if selected}}selected{{/if}}>{{key}}</option>
                {{/each}}
                </select>
            </label>

            <div class='buttons-right'>
                <a class='button' onclick='window.close()'>Cancel</a>
                <a class='button primary' onclick='submitUserDataForm()'>OK</a>
            </div>

            {{#if tooltip}}
                <p class='comment'>{{tooltip}}</p>
            {{/if}}
        </fieldset>
    </form>
  </body>
</html>
