<!DOCTYPE html>
<html>
  <head>
    <title>Object Editor</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/mini-default.min.css">
    <link rel="stylesheet" href="../../assets/css/object-editor.css">

    <script>
        const {ipcRenderer} = require('electron');

        const ObjectEntityType = require('../enum/ObjectEntityType.js');
        var ObjectEditor = require('../classes/ObjectEditor.js');
        var ListView = require('../classes/ListView.js');

        var Map;

        ipcRenderer.send('requestProject');
        ipcRenderer.on('responseProject', function(a, map) {
            Map = map;
        })

        ipcRenderer.on('newObject', function(_, data) {
            // The new object is already registered from app.js,
            // but we need to refresh our map data here
            ipcRenderer.send('requestProject');

            // Update the object editor UI
            objEntityListView[data.type].Add({
                label: '(' + data.id + ') ' + data.name,
                value: '',
                data: {
                    id: data.id,
                    entityType: data.type
                }
            })

            // Load the newly-created unit
            selectEntityIntoEditor(data.type, data.id);
        })

        var userInputListener = false;

        // Stores field whose selection mode is a simple dropdown menu
        // where only one option may be selected; value is the enum file
        var userInputSingleChoices = {
            // fieldType:       enumeration file name
            'armorType':        'ArmorType',
            'attackType':       'AttackType',
            'weaponType':       'WeaponType',
            'moveType':         'MovementType',
            'teamColor':        'TeamColor',
            'defenseType':      'DefenseType',
            'attributeType':    'AttributeType',
            'unitRace':         'UnitRace',
            'aiBuffer':         'AIBuffer'
        };
        function requestUserInput(type, context, entryId, cb) {
            context.entryId = entryId;

            // Is the input a single dropdown menu?
            var singleChoice = userInputSingleChoices[type];
            if(singleChoice) {
                type = 'singleChoice';

                var dataChoices = require('../enum/' + singleChoice),
                    choices = Object.keys(dataChoices).map((key) => {
                        return {
                            key: key,
                            value: dataChoices[key],
                            selected:
                                // Sometimes the enums have integer values, so we must check if they are integers
                                // to avoid an error when trying to call toLowerCase() on them
                                ((typeof dataChoices[key] == 'string') ? dataChoices[key].toLowerCase() : dataChoices[key])
                                ==
                                ((typeof context.currentValue == 'string') ? context.currentValue.toLowerCase() : context.currentValue)
                        }
                    });

                context['choices'] = choices;
            }


            ipcRenderer.send('requestUserInput', {
                type: type,
                context: context
            })

            if(!userInputListener) {
                ipcRenderer.on('userInputProvided', function(_, data) {
                    cb(data);
                })
                userInputListener = true;
            }
        }

        function OpenNewObjDialog(type) {
            ipcRenderer.send('openWindow', {
                windowName: 'newObject',
                template: {
                    type: type
                }
            });
        }
    </script>
    <script data-script-name="Units">
        var objEntityListView = {
            // unit: <ListView> (left),
            // ...
        };

        var objEntityFieldListView = {
            // unit: <ListView> (right),
            // ...
        };

        var editor = {
            // unit: <HTMLElement> (Editor),
            // ...
        };

        var unitListView,
            unitFieldListView,

            selectEntityIntoEditor; // function(ObjectEntityType, entityId)

        window.addEventListener('load', function() {
            // TODO: clean up init
            editor.unit = document.getElementById('unit-editor');
            editor.item = document.getElementById('item-editor');
            editor.destructable = document.getElementById('destructable-editor');
            editor.doodad = document.getElementById('doodad-editor');
            editor.ability = document.getElementById('ability-editor');
            editor.buff = document.getElementById('buff-editor');
            editor.upgrade = document.getElementById('upgrade-editor');

            /*
                Events
            */
            function onEntitySelected(e) {
                // The <option> value stores the entity type and id to load
                selectEntityIntoEditor(
                    e.target.getAttribute('data-entitytype'),
                    e.target.getAttribute('data-id')
                );
            }

            /*
                Functions
            */

            /**
             * @method populateObjectEntityList(objEntityType)
             * @param {Enum} objEntityType
             * Populates the given object entity list (the list on the left
             * side of the object editor)
             */
            function populateObjectEntityList(objEntityType) {
                // Fill the object entities list
                var entityData = [],
                    // the corresponding field name in Map, e.g. units, doodads, etc.
                    mapObjectDataName = objEntityType + 's',
                    // corresponding name in ObjectEditor class, e.g. Units, Buffs
                    objectEditorDataName = objEntityType[0].toUpperCase() + objEntityType.substr(1) + 's';

                // List original object entities
                Object.keys(ObjectEditor.Data[objectEditorDataName]).forEach((entityId) => {
                    var listViewItem = {
                        label: '(' + entityId + ') ' + ObjectEditor.Data[objectEditorDataName][entityId].name,
                        value: '',
                        data: {
                            id: entityId,
                            entityType: objEntityType
                        }
                    }

                    if(Map.objects && Map.objects[mapObjectDataName].original
                        && Map.objects[mapObjectDataName].original[entityId]) {
                        // modifications exist for this base entity
                        // set data-modified on element (colored pink via CSS)
                        listViewItem.data.modified = true;
                    }

                    entityData.push(listViewItem);
                });

                // List custom object entities
                if(Map.objects[mapObjectDataName].custom) {
                    Object.keys(Map.objects[mapObjectDataName].custom).forEach((customEntityId) => {
                        // customEntityId is of the form <newId>:<baseId> (e.g. h000:hfoo, a001:Adef)
                        var ids = customEntityId.split(':'),
                            listViewItem = {
                                label: '(' + customEntityId + ') ',
                                value: '',
                                data: {
                                    id: customEntityId,
                                    entityType: objEntityType,
                                    baseId: ids[1],
                                    newId: ids[0],
                                    modified: true // modifications always exist for a custom entities
                                }
                            };

                        entityData.push(listViewItem);
                    });
                }

                // Create and append unit ListView
                entityListView = new ListView(entityData, { onDblClick: onEntitySelected });
                objEntityListView[objEntityType] = entityListView;
                editor[objEntityType].querySelector('.objLeft').appendChild(entityListView.HTMLElement);
            }

            function populateObjectEntityFieldList(objEntityType) {
                // Fill the editing list with the available fields
                var objFieldData = [],
                    // the corresponding field name in Map, e.g. units, doodads, etc.
                    mapObjectDataName = objEntityType + 's',
                    // corresponding name in ObjectEditor class, e.g. Units, Buffs
                    objectEditorDataName = objEntityType[0].toUpperCase() + objEntityType.substr(1) + 's';

                Object.keys(ObjectEditor.Fields[objectEditorDataName]).forEach((fieldKey) => {
                    var field = ObjectEditor.Fields[objectEditorDataName][fieldKey],
                        label = (field.editorName && field.editorName != '.') ?
                            field.category[0].toUpperCase() + field.category.substr(1) + ' - ' + (field.editorName) :
                            field.ID;

                    objFieldData.push({
                        id: field.ID,
                        label: label,
                        value: field.minVal,
                        data: {
                            id: field.ID,
                            min: field.minVal,
                            max: field.maxVal
                        }
                    });
                });

                var events = {
                    onDblClick: function(e, item) {
                        var fieldType = e.target.getAttribute('data-type'),
                            fieldEditorType = e.target.getAttribute('data-editortype'),
                            fieldId = e.target.getAttribute('data-fieldId'),
                            entryId = e.target.getAttribute('data-id');

                        requestUserInput(
                            fieldEditorType,
                            {
                                type: fieldType,
                                editorType: fieldEditorType,
                                id: fieldId,
                                tooltip: ObjectEditor.Fields[objectEditorDataName][fieldId].editorHelp,
                                currentValue: item.value
                            },
                            entryId,
                            function(data) {
                                // Change the value in the ListView
                                console.log('updating', objEntityType, data.id, data.value);
                                objEntityFieldListView[objEntityType].UpdateItem(data.id, data.value);
                                objEntityFieldListView[objEntityType].Refresh();

                                // Modify the original or custom unit field
                                var isCustomObj = data.entryId.indexOf(':') >= 0;
                                ipcRenderer.send('editObject', {
                                    specType: mapObjectDataName,
                                    table: isCustomObj ? 'custom' : 'original',
                                    entryId: data.entryId,
                                    modification: {
                                        id: data.id,
                                        type: data.type,
                                        editorType: data.editorType,
                                        value: data.value
                                    }
                                });

                                // Refresh the map after the above changes
                                // Note: we already have a listener to store updates on event
                                // Note: we do this instead of manually updating object-editor's copy of Map to avoid code redundancy
                                ipcRenderer.send('requestProject');
                            }
                        );
                    }
                };

                // Create and append unit-field ListView
                objEntityFieldListView[objEntityType] = new ListView(objFieldData, events);
                editor[objEntityType].querySelector('.objRight').appendChild(objEntityFieldListView[objEntityType].HTMLElement);
            }

            selectEntityIntoEditor = function(objEntityType, entityId) {
                var // the corresponding field name in Map, e.g. units, doodads, etc.
                    mapObjectDataName = objEntityType + 's',
                    // corresponding name in ObjectEditor class, e.g. Units, Buffs
                    objectEditorDataName = objEntityType[0].toUpperCase() + objEntityType.substr(1) + 's',
                    isCustomEntity = entityId.indexOf(':') !== -1,
                    baseEntityId = (isCustomEntity) ?
                        entityId.split(':')[1] : entityId,
                    baseEntity = ObjectEditor.Data[objectEditorDataName][baseEntityId],
                    baseEntityFields = [];

                // Re-generate the list view items
                Object.keys(ObjectEditor.Fields[objectEditorDataName]).forEach((fieldKey) => {
                    var field = ObjectEditor.Fields[objectEditorDataName][fieldKey],
                        value = baseEntity[ObjectEditor.Find.FieldLongNameById(objEntityType, fieldKey)],
                        isAttrModified = false,
                        label = (field.editorName && field.editorName != '.') ?
                            field.category[0].toUpperCase() + field.category.substr(1) + ' - ' + (field.editorName) :
                            field.ID,
                        listViewItem = {
                            id: fieldKey,
                            label: label,
                            data: {
                                id: entityId,
                                fieldId: fieldKey,
                                isCustom: isCustomEntity,
                                default: value || '',
                                type: ObjectEditor.Fields[objectEditorDataName][fieldKey].type,
                                editorType: ObjectEditor.Fields[objectEditorDataName][fieldKey].editorType
                            }
                        };

                    var objectTable = (isCustomEntity) ?
                        Map.objects[mapObjectDataName].custom :
                        Map.objects[mapObjectDataName].original;

                    if(objectTable && objectTable[entityId]) {
                        // We have changes, so find if a change is made
                        // to the current attribute
                        var modifiedField = objectTable[entityId].find((mod) => {
                            return mod.id === fieldKey;
                        });

                        if(modifiedField) {
                            isAttrModified = true;
                            value = modifiedField.value;
                        }
                    }

                    if(isAttrModified) listViewItem.data.modified = true;
                    listViewItem.value = value;
                    baseEntityFields.push(listViewItem);
                });

                objEntityFieldListView[objEntityType].Clear();
                objEntityFieldListView[objEntityType].Add(baseEntityFields);
            }

            // Init
            function init() {
                if(Map.__Dir) { // check if Map has been loaded, if so continue logic
                    populateObjectEntityList(ObjectEntityType.Unit);
                    populateObjectEntityFieldList(ObjectEntityType.Unit);

                    populateObjectEntityList(ObjectEntityType.Item);
                    populateObjectEntityFieldList(ObjectEntityType.Item);

                    populateObjectEntityList(ObjectEntityType.Destructable);
                    populateObjectEntityFieldList(ObjectEntityType.Destructable);
                }
                else {
                    // Try again in 250ms
                    window.setTimeout(init, 250);
                }
            };

            init();
        });
    </script>
  </head>
  <body>
    <div class="tabs">

      <input type="radio" name="tab-group" id="tab1" checked aria-hidden="true">
      <label for="tab1" aria-hidden="true">
          <img src='../../assets/img/unit.png' width='18' height='18' />
          Units
      </label>
      <div id='unit-editor' class='object-edit-view'>
          <div>
              <a class='button small' onclick='OpenNewObjDialog("unit")'>New Unit</a>
          </div>
          <div class='obj objLeft'></div>
          <div class='obj objRight'></div>
      </div>

      <input type="radio" name="tab-group" id="tab2" aria-hidden="true">
      <label for="tab2" aria-hidden="true">
          <img src='../../assets/img/item.png' width='18' height='18' />
          Items
      </label>
      <div id='item-editor' class='object-edit-view'>
          <div>
              <a class='button small' onclick='OpenNewObjDialog("item")'>New Item</a>
          </div>
          <div class='obj objLeft'></div>
          <div class='obj objRight'></div>
      </div>

      <input type="radio" name="tab-group" id="tab3" aria-hidden="true">
      <label for="tab3" aria-hidden="true">
          <img src='../../assets/img/destructable.png' width='18' height='18' />
          Destructables
      </label>
      <div id='destructable-editor' class='object-edit-view'>
          <div>
              <a class='button small' onclick='OpenNewObjDialog("destructable")'>New Destructable</a>
          </div>
          <div class='obj objLeft'></div>
          <div class='obj objRight'></div>
      </div>

      <input type="radio" name="tab-group" id="tab4" aria-hidden="true">
      <label for="tab4" aria-hidden="true">
          <img src='../../assets/img/doodad.png' width='18' height='18' />
          Doodads
      </label>
      <div id='doodad-editor' class='object-edit-view'>
          <div>
              <a class='button small' onclick='OpenNewObjDialog("doodad")'>New Doodad</a>
          </div>
          <div class='obj objLeft'></div>
          <div class='obj objRight'></div>
      </div>

      <input type="radio" name="tab-group" id="tab5" aria-hidden="true">
      <label for="tab5" aria-hidden="true">
          <img src='../../assets/img/ability.png' width='18' height='18' />
          Abilities
      </label>
      <div id='ability-editor' class='object-edit-view'>
          <div>
              <a class='button small' onclick='OpenNewObjDialog("ability")'>New Ability</a>
          </div>
          <div class='obj objLeft'></div>
          <div class='obj objRight'></div>
      </div>

      <input type="radio" name="tab-group" id="tab6" aria-hidden="true">
      <label for="tab6" aria-hidden="true">
          <img src='../../assets/img/ability.png' width='18' height='18' />
          Buffs/Effects
      </label>
      <div id='buff-editor' class='object-edit-view'>
          <div>
              <a class='button small' onclick='OpenNewObjDialog("buff")'>New Buff</a>
          </div>
          <div class='obj objLeft'></div>
          <div class='obj objRight'></div>
      </div>

      <input type="radio" name="tab-group" id="tab7" aria-hidden="true">
      <label for="tab7" aria-hidden="true">
          <img src='../../assets/img/upgrade.png' width='18' height='18' />
          Upgrades
      </label>
      <div id='upgrade-editor' class='object-edit-view'>
          <div>
              <a class='button small' onclick='OpenNewObjDialog("upgrade")'>New Upgrade</a>
          </div>
          <div class='obj objLeft'></div>
          <div class='obj objRight'></div>
      </div>

    </div>
  </body>
</html>
